@import "tailwindcss";


@theme {
  --color-orange: #FE6400;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-orange);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #F54A00;
}



body {
  margin: 0;
  font-family: Helvetica, sans-serif, Arial;
  background-color: #191919;
}
